swagger: '2.0'
info:
  title: 'Staff Fee Privilege API'
  description: 'Report the people who used the staff fee privilege for each term'
  version: '1.0.0'
  license:
    name: 'GNU Affero General Public License Version 3'
    url: 'http://www.gnu.org/licenses/agpl-3.0.en.html'
externalDocs:
  description: 'GitHub Repository'
  url: 'https://github.com/osu-mist/staff-fee-privilege-api'
host: 'api.oregonstate.edu'
schemes:
  - https
basePath: /v1
produces:
  - application/json
paths:
  '/staff-fee-privilege':
    get:
      description: 'Get all students who use staff fee privilege by term'
      parameters:
        - in: query
          name: term
          description: 'Term code (e.g., 201803)'
          type: string
        - in: query
          name: osuId
          description: 'OSU ID'
          type: string
        - $ref: '#/parameters/authorization'
      responses:
        '200':
          description: 'Successful response'
          schema:
            $ref: '#/definitions/StaffFeePrivilegeResultObjects'
        '400':
          description: 'Bad request'
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: 'Internal Server Error'
          schema:
            $ref: '#/definitions/Error'
  '/staff-fee-privilege/{id}':
    get:
      description: 'Get student who uses staff fee privilege by unique ID'
      parameters:
        - name: id
          in: path
          description: 'Concatenate OSU ID and a 6 digit term code with a dash delimiter (e.g., 931234567-201802)'
          required: true
          type: string
        - $ref: '#/parameters/authorization'
      responses:
        '200':
          description: 'Successful response'
          schema:
            $ref: '#/definitions/StaffFeePrivilegeResultObject'
        '404':
          description: 'A staff fee privilege record with the specified ID was not found.'
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: 'Internal Server Error'
          schema:
            $ref: '#/definitions/Error'
parameters:
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
definitions:
  StaffFeePrivilegeResultObjects:
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/StaffFeePrivilegeRourceObject'
  StaffFeePrivilegeResultObject:
      properties:
        data:
          $ref: '#/definitions/StaffFeePrivilegeRourceObject'
  StaffFeePrivilegeRourceObject:
    properties:
      id:
        type: string
        description: 'A unique ID concatenated with OSU ID, a dash delimiter and a 6 digit term code'
        example: '931234567-201803'
      type:
        type: string
        example: 'staffFeePrivileges'
      links:
        $ref: '#/definitions/SelfLink'
      attributes:
        properties:
          term:
            type: string
            description: '6 digit term code'
          studentOsuId:
            type: string
            description: 'OSU ID of student'
          studentLastName:
            type: string
            description: 'Last name of student'
          studentFirstName:
            type: string
            description: 'First name student'
          studentMiddleName:
            type: string
            description: 'Middle name student'
          employeeOsuId:
            type: string
            description: 'OSU ID of employee giving waiver to student'
          employeeLastName:
            type: string
            description: 'Last name of employee giving waiver to student'
          employeeFirstName:
            type: string
            description: 'First name of employee giving waiver to student'
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: 'Self link of resource'
  Error:
    properties:
      status:
        type: string
        description: 'The HTTP status code applicable to this problem, expressed as a string value'
      title:
        type: string
        description: 'A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization'
      detail:
        type: string
        description: 'A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized'
